#interact-container{
    position: fixed;
    z-index: 1;
    width: 220px;
    padding:5px;
    padding-left: 20px;
    border-radius: 8px;
    transition: all 0.5s ease;
    margin-left: -250px;
    border: 2px solid white;
    background-color: rgba(100, 100, 100, 0.8);
}