html{
    scroll-behavior: smooth;
}

/* Navbar style */
.navbar-style{
    position: fixed;
    margin-top: -18px;
    width: 100%;
    z-index: 2;
    padding-top: 20px;
}
#brand-title{
    font-size: x-large;
    font-weight: 500;
}
.hover-navbar-effect :hover{
    text-shadow: 2px 2px 5px azure;
    color: white;
    transition: all 0.2s ease;
}

/* Notification Animation */
#interact-container{
    position: fixed;
    z-index: 1;
    width: 220px;
    padding:5px;
    padding-left: 20px;
    border-radius: 8px;
    transition: all 0.5s ease;
    margin-left: -250px;
    margin-top: 80px;
    border: 2px solid white;
    background-color: rgba(100, 100, 100, 0.8);
}

/* Dynamic pop up pinjaman buku */
#pinjaman{
    transition: all 0.5s;
}
.box{
    transition: opacity 500ms;
    will-change: opacity;
}
.box .faded-out {
    opacity: 0;
}

/* Table Animation*/
#whole-table{
    opacity: 1;
}
#table-row {
    padding: 30px;
}
#perpus-table tr:hover {
    background-color: #ddd;
    transition: all 0.2s ease;
}

/* Padding 5px */
.margin5px{
    margin: 5px;
}